<%- include('partials/header') %>

    <!-- Content -->
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% blogs.forEach(blog=> { %>
                <div class="col">
                    <div class="card h-100">
                        <% if (blog.image) { %>
                            <img src="<%= blog.image %>" class="card-img-top" alt="...">
                            <% } %>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">
                                        <%= blog.title %>
                                    </h5>
                                    <% if (blog.content) { %>
                                        <p class="card-text">
                                            <%= blog.content.slice(0, 100) %>
                                        </p>
                                        <% } %>
                                            <div class="mt-auto">
                                                <small class="text-muted">By <%= blog.author.username %> on <%=
                                                            blog.created_at.toDateString() %></small>
                                                <% if (loggedIn && user && user.id &&
                                                    user.id.toString()===blog.author._id.toString()) { %>
                                                    <a href="/edit/<%= blog._id %>"
                                                        class="btn btn-primary mt-2">Edit</a>
                                                    <% } %>
                                            </div>
                                </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>



    <%- include('partials/footer') %>